{% extends 'admin_side/base_admin.html' %}
{% load static %}
{% block title %} <title>Product Management</title>{% endblock title %}
{% block content %}
<div style="padding-left: 300px; padding-top: 100px; padding-bottom: 200px;">
    <h1>{{ product.product_name }}</h1>
    <div class="col-lg-3">
        <div class="card mb-4" style="width: 500px;">
            <div class="card-header">
                <h4 style="font-weight: bold;">Edit Variants</h4>
            </div>
            <div class="card-body">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form method="post" action="{% url 'product:edit_varient' varient.id %}">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label style="font-weight: bold;" for="size" class="form-label">Size</label>
                                <input type="text" placeholder="inch" class="form-control" id="size"  name="size" value="{{ varient.size }}"  required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label style="font-weight: bold;" for="stock" class="form-label">Stock</label>
                                <input type="text" placeholder="number" class="form-control" id="stock" name="variant_stock" value="{{ varient.variant_stock }}" required>
                            </div>
                        </div>
                    </div>
                    <label style='padding-top:10px;' class="form-check mb-4">
                        <input class="form-check-input" name="variant_status" type="checkbox" value="on" required>
                        <span style="font-weight: bold;"  class="form-check-label"> Status</span>
                    </label>
                    <div>
                        <button type="submit" style="font-weight: bold;" class="btn btn-md rounded font-sm hover-up">Create</button>
                        <a href="{% url 'product:create_varient' varient.id %}" class="btn  btn-danger rounded font-sm hover-up" style="font-weight: bold; margin-left:300px;">Go Back</a>
                    </div>
                </form>
            </div>
        </div> <!-- card end// -->
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> 
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
    {% if messages %}
        const messages = [
            {% for message in messages %}
                "{{ message }}",
            {% endfor %}
        ];
        messages.forEach(message => {
            Swal.fire({
                toast: true,
                position: 'top-right',
                icon: 'success',
                title: message,
                showConfirmButton: false,
                timer: 3000
            });
        });
    {% endif %}
});
</script>
{% endblock %}