{% extends 'admin_side/base_admin.html' %}
{% load static %}
{% block title %} 
<title>products Detail</title>
{% endblock title %}
{% block content %}
<section class="content-main"> 
    <div class="content-header"> 
        <div class="d-flex justify-content-between align-items-center mb-4"> 
            <h2 class="content-title card-title mb-0">{{ products.product_name }}</h2> 
        </div> 
        <div> 
            <a href="" class="btn btn-primary">
                <i class="text-muted material-icons md-post_add"></i>Create products
            </a> 
        </div> 
    </div> 

    <div class="card mb-4"> 
        <div class="row g-0"> 
            <div class="col-md-3"> 
                {% if products.thumbnail %} 
                <img src="{{ products.thumbnail.url }}" class="img-fluid rounded-start" alt="{{ products.products_name }}"> 
                {% else %} 
                <img src="{% static 'placeholder_image.jpg' %}" class="img-fluid rounded-start" alt="Placeholder Image"> 
                {% endif %} 
            </div> 
            <div class="col-md-8"> 
                <div class="card-body"> 
                    <h5 class="card-title">{{ products.products_name }}</h5> 
                    <table class="table"> 
                        <tbody> 
                            <tr style="font-weight:bold;"> 
                                <th scope="row">Category</th> 
                               
                                <td>{% if products.product_category %}{{ products.product_category.category_name }}{% else %}No category{% endif %}</td> 

                            </tr> 
                            <tr style="font-weight:bold;"> 
                                <th scope="row">Brand</th> 
                                <td>{% if products.product_brand %}{{ products.product_brand.brand_name }}{% else %}No brand{% endif %}</td> 
                             
                            </tr> 
                            <tr style="font-weight:bold;"> 
                                <th scope="row">Price</th> 
                                <td>{{ products.price }}</td> 
                            </tr> 
                            <tr style="font-weight:bold;"> 
                                <th scope="row">Offer Price</th> 
                                <td>{{ products.offer_price }}</td> 
                            </tr> 
                            <tr style="font-weight:bold;"> 
                                <th scope="row">Discount</th> 
                                <td >{{ products.percentage_discount }}%</td> 
                            </tr> 
                            <tr style="font-weight:bold;"> 
                                <th scope="row">Variants</th>
                                <td>
                                    {% for variant in varients %}
                                        <p style="font-weight:bold;">Size: {{ variant.size }},  Stock: {{ variant.variant_stock }}</p>   
                                    {% endfor %}
                                </td>
                            </tr> 
                            <tr style="font-weight:bold;"> 
                                <th scope="row">Status</th> 
                                <td> 
                                    <span class="badge rounded-pill {% if products.is_active %}bg-success{% else %}bg-danger{% endif %}"> 
                                        {{ products.is_active|yesno:"Active,Inactive" }} 
                                    </span> 
                                </td> 
                            </tr> 
                            <tr style="font-weight:bold;"> 
                                <th scope="row">Description</th> 
                                <td>{{ products.product_description }}</td> 
                            </tr> 
                        </tbody> 
                    </table> 
                    <div class="btn-group mt-3" role="group"> 
                        <a
                            href="{% url 'product:delete' products.id %}"
                            class="btn btn-sm {% if products.is_active %}btn-success{% else %}btn-danger{% endif %}">
                            {% if products.is_active %}Delete{% else %}Restore{% endif %}
                    </a>
                        <div style='padding-left:20px;'>
                            <a href="{% url 'product:edit' products.id %}" class="btn btn-warning me-2">Edit</a> 
                        </div>
                        <div style='padding-left:20px;'>
                            <a href="{% url 'product:product_image' products.id %}" class="btn btn-info me-2">Add Images</a>
                        </div>
                        <div style='padding-left:20px;'>
                            <a href="{% url 'product:list_varient' products.id  %}" class="btn btn-secondary me-2">Variant</a> 
                        </div>
                        <div style='padding-left:20px;'>
                            <a href="{% url 'product:list_product' %}" style="background-color:Black;" class="btn btn-secondary me-2">Back</a> 
                        </div>
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
    <div>
        <h5>products Images</h5>
        <div class="d-flex flex-wrap">
            {% for image in images %}
                <div class="card me-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <img src="{{ image.images.url }}" class="img-thumbnail" alt="products Image">
                        <a href="{% url 'product:remove' image.id %}" class="btn btn-danger me-2">Remove</a> 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination-area mt-30 mb-50"> 
        <nav aria-label="Page navigation example"> 
            {% comment %} 
            <ul class="pagination justify-content-start"> 
                <li class="page-item active"><a class="page-link" href="#">01</a></li> 
                <li class="page-item"><a class="page-link" href="#">02</a></li> 
                <li class="page-item"><a class="page-link" href="#">03</a></li> 
                <li class="page-item"><a class="page-link dot" href="#">...</a></li> 
                <li class="page-item"><a class="page-link" href="#">16</a></li> 
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li> 
            </ul>  
            {% endcomment %}
        </nav> 
    </div> 
</section> 


<style>
    .main-image {
        max-width: 100%;
        max-height: 500px;
        object-fit: contain;
    }
    .thumbnail-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
    }
</style>

{% endblock content %}