{% extends 'admin_side/base_admin.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <div class="modal fade" id="cropperModal" tabindex="-1" aria-labelledby="cropperModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 600px; margin: 1.75rem auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cropperModalLabel">Crop Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="width: 100%; height: 400px; overflow: hidden; display: flex; justify-content: center; align-items: center; padding: 0;">
                    <img id="imageToCrop" style="max-width: 100%; max-height: 100%; display: none;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="modal-close-btn" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="cropAndSave" class="btn btn-primary">Crop and Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">ADD IMAGE</h2>
            </div>
        </div>
        <div style="width:900px;" class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                        <form method="post" action="{% url 'product:product_image' product.id %}" enctype="multipart/form-data" id="addImagesForm">
                            {% csrf_token %}
                            <div class="col-lg-80">
                                <div class="card mb-8"> 
                                    <div class="card-header">
                                        <h4>IMAGE</h4>
                                    </div>
                                    <label style="font-weight:bold;" for="images">Images (Minimum 3)</label>
                                    <div class="card-body">
                                        <div id="imageInputs" class="form-group">
                                            <input type="file" class="form-control" id="images" name="images" accept="image/*" multiple required>
                                            <small class="form-text text-muted">Please upload valid image files.</small>
                                        </div>
                                    </div>
                                </div>

                        <div id="selectedImages" class="mt-3 mb-3"></div> <!-- Container for displaying selected images -->

                        <button type="submit" class="btn btn-primary">Upload Images</button>
                        <a href="{% url 'product:details' product.id %}" style="background-color:Black;" class="btn btn-secondary me-2">Back</a> 
                       
                    </form>
                    

                </div>
               

            </div> <!-- card end// -->


        </div>
      
        <div class="col-lg-3">
            <!-- Image Preview Section -->
            <div class="container mt-4" style="width: 100%">
                <h4 style="padding-top: 5px">Image Preview</h4>
                <div id="imagePreview" style="width: 100%; overflow: auto; border: 1px solid #ddd; padding: 10px;"></div>
            </div>
            <!-- Modal for Cropping Image -->
            <button type="button" style="display: none" id="openCropperModalBtn" data-bs-toggle="modal" data-bs-target="#cropperModal"></button>
        </div>
    </div>
</section> <!-- content-main end// -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const addThumbnailForm = document.getElementById("addThumbnailForm");
        const addImagesForm = document.getElementById("addImagesForm");
    
        const thumbnailInput = document.getElementById("thumbnailInput");
    
        const imageInput = document.getElementById("images");
        const imagePreview = document.getElementById("imagePreview");
        const openCropperModalBtn = document.getElementById("openCropperModalBtn");
        const imageToCrop = document.getElementById("imageToCrop");
        const cropAndSave = document.getElementById("cropAndSave");
        const cropperModalElement = document.getElementById("cropperModal");
    
        let cropper; // hold the cropper js instance
        let currentImage;
        let originalImageBlobs = [];
    
        const validateImage = (file) => {
            const allowedExtensions = /\.(jpg|jpeg|png|gif|webp|avif)$/i;
            if (!allowedExtensions.test(file.name)) {
                alert("Please upload a valid image file (jpg, jpeg, png, gif)");
                return false;
            }
            return true;
        };
    
        const handleImagePreview = (inputElement, previewElement) => {
            inputElement.addEventListener("change", (event) => {
                const files = event.target.files;
                Array.from(files).forEach((file) => {
                    if (!validateImage(file)) {
                        return;
                    }
                    const reader = new FileReader();
                    reader.onload = (event) => {
                        const imageContainer = document.createElement("div");
                        imageContainer.className = "image-container";
    
                        const img = document.createElement("img");
                        img.src = event.target.result;
                        img.className = "imagePreview";
    
                        const buttonContainer = document.createElement("div");
                        buttonContainer.style.display = "flex";
                        buttonContainer.style.flexDirection = "column";
    
                        const deleteButton = document.createElement("button");
                        deleteButton.className = "btn btn-danger btn-sm mb-2";
                        deleteButton.innerText = "Remove";
                        deleteButton.addEventListener("click", () => {
                            imageContainer.remove(); // Removes the image container from the DOM
                            originalImageBlobs = originalImageBlobs.filter(
                                (item) => item.id !== img.src
                            ); // filters out the removed image from the array
                            updateFileInput(inputElement); // Updates the file input with the current images
                        });
    
                        buttonContainer.appendChild(deleteButton);
                        imageContainer.appendChild(img);
                        imageContainer.appendChild(buttonContainer);
                        previewElement.appendChild(imageContainer);
    
                        img.addEventListener("click", () => {
                            imageToCrop.src = img.src;
                            currentImage = img;
                            openCropperModalBtn.click();
                        });
    
                        const originalFile = new File([file], file.name, { type: file.type });
                        originalImageBlobs.push({
                            id: event.target.result,
                            blob: originalFile,
                        });
                        updateFileInput(inputElement);
                    };
                    reader.readAsDataURL(file);
                });
            });
        };
    
        handleImagePreview(imageInput, imagePreview);
    
        cropperModalElement.addEventListener("shown.bs.modal", () => {
            if (cropper) {
                cropper.destroy();
            }
            cropper = new Cropper(imageToCrop, {
                aspectRatio: 1,
                viewMode: 1,
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
                responsive: true,
                guides: true,
                center: true,
                highlight: false, 
                background: false, 
                cropBoxMovable: true,
                cropBoxResizable: true,
                toggleDragModeOnDblclick: true
            });
        });
    
        cropAndSave.addEventListener("click", () => {
            if (cropper) {
                const canvas = cropper.getCroppedCanvas();
    
                canvas.toBlob((blob) => {
                    const url = URL.createObjectURL(blob);
    
                    currentImage.src = url;
    
                    // Create a new File object from the blob
                    const croppedFile = new File([blob], `croppedImage_${Date.now()}.jpg`, { type: "image/jpeg" });
    
                    // Replace the original blob with the cropped blob
                    originalImageBlobs = originalImageBlobs.map((item) => {
                        if (item.id === imageToCrop.src) {
                            return { id: url, blob: croppedFile };
                        }
                        return item;
                    });
    
                    updateFileInput(imageInput);
    
                    const modal_close_btn = document.getElementById('modal-close-btn');
                    modal_close_btn.click();
    
                }, 'image/jpeg');
            }
        });
    
        function updateFileInput(inputElement) {
            const dataTransfer = new DataTransfer();
            originalImageBlobs.forEach((item) => {
                dataTransfer.items.add(item.blob);
            });
            inputElement.files = dataTransfer.files;
        }
    
        addThumbnailForm.addEventListener("submit", (event) => {
            if (thumbnailInput.files.length === 0) {
                alert("Thumbnail is required");
                event.preventDefault();
            }
        });
    
        addImagesForm.addEventListener("submit", (event) => {
            if (imageInput.files.length === 0) {
                alert("Image is required");
                event.preventDefault();
            }
        });
    });
    
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> 
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
    {% if messages %}
        const messages = [
            {% for message in messages %}
                "{{ message }}",
            {% endfor %}
        ];
        messages.forEach(message => {
            Swal.fire({
                toast: true,
                position: 'top-right',
                icon: 'success',
                title: message,
                showConfirmButton: false,
                timer: 3000
            });
        });
    {% endif %}
});
</script>
{% endblock %}