{% extends 'user_side/base_user.html' %}
{% load static %}
{% block content %}
<style> 
    .wishlist-item { 
    display: flex; 
    align-items: center; 
    padding: 15px 0; 
    border-bottom: 1px solid #eee; 
    } 
    .wishlist-item img { 
    width: 60px; 
    margin-right: 15px; 
    } 
    .wishlist-item .product-info { 
    flex-grow: 1; 
    } 
    .wishlist-item h5 { 
    margin: 0; 
    color: back; 
    } 
    .wishlist-item .rating { 
    color: black; 
    } 
    .wishlist-item p { 
    margin: 2px 0; 
    } 
    .add-to-cart { 
    background-color: #000; 
    color: #fff; 
    padding: 8px 16px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    } 
    .remove-icon { 
    color: #999; 
    font-size: 18px; 
    margin-left: 15px; 
    cursor: pointer; 
    } 
</style> 
<div >
    <div style="max-width: 1000px; margin: 0 auto; max-height: 1000px; margin-bottom:30px;">
        <h4 style="padding-bottom:20px;">
            <span style="font-size: 24px;">♥️</span> My Wishlist
        </h4>
        {% if wishlists %}
        {% for wishlist in wishlists %}
        <div class="wishlist-item">
            <img src="{{ wishlist.variant.product.thumbnail.url }}" alt="{{ wishlist.variant.product.product_name }}">
            <div class="product-info">
                <h5 style="padding-bottom:5px;"></h5>
                <p>Brand:{{ wishlist.variant.product.product_brand.brand_name }}
                <h4><a style="color:black; outline:none;" href="{% url 'accounts:product_detailuser' wishlist.variant.product.id %}">{{ wishlist.variant.product.product_name }}</a></h4>
                <p>Size: {{ wishlist.variant.size }}</p>
                <p>Category: {{ wishlist.variant.product.product_category }}</p>
                <p>Price: ₹ {{ wishlist.variant.product.offer_price }}</p>
            </div>
            <a href="{% url 'userdash:remove_wishlist' wishlist.id %}" class="btn btn-sm btn-outline-danger remove-item ms-3" data-url="">Remove</a> 
            <a href="{% url 'cart:cart' %}" 
   class="btn btn-sm btn-outline-danger cart-item ml-3" 
   data-variant-id="{{ wishlist.variant.id }}">Add to Cart</a>
            {% comment %} <a href="#" class="btn btn-sm btn-outline-danger cart-item ms-3" data-product-id="{{ wishlist.variant.product.id }}" data-variant-id="{{ wishlist.variant.id }}">Add To Cart</a> {% endcomment %}
        </div>
        {% endfor %}
        {% else %}
        <div class="position-relative">
            <div>
                <img src="{% static 'banner/wishlist.jpg' %}" alt="" class="img-fluid">
            </div>

        </div>
        {% endif %}
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
   
</script>
{% csrf_token %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script>
    
    $(document).ready(function() {
        $('.cart-item').on('click', function(e) {
            e.preventDefault();
    
            var button = $(this);
            var variantId = button.data('variant-id');
            console.log('Variant ID:', variantId);
    
            if (!variantId) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Variant ID is missing.',
                    showConfirmButton: false,
                    timer: 1500,
                    toast: true,
                    customClass: {
                        container: 'swal2-container-top-end'
                    }
                });
                return;
            }
    
            if (button.text() === 'Go to Cart') {
                window.location.href = "{% url 'cart:cart' %}";  // Add the correct cart URL here
                return;
            }
    
            $.ajax({
                url: "{% url 'userdash:wishlist_to_cart' %}",
                type: 'POST',
                data: {
                    'variant_id': variantId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log('AJAX response:', response);
                    if (response.success) {
                        console.log('Item successfully added to cart. Changing button text...');
                        button.text('Go to Cart');
    
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500,
                            toast: true,
                            customClass: {
                                container: 'swal2-container-top-end'
                            }
                        });
                    } else {
                        console.log('Error in response:', response);
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500,
                            toast: true,
                            customClass: {
                                container: 'swal2-container-top-end'
                            }
                        });
                    }
                },
                error: function(xhr, errmsg, err) {
                    console.log('AJAX error:', errmsg);
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'An error occurred: ' + errmsg,
                        showConfirmButton: false,
                        timer: 1500,
                        toast: true,
                        customClass: {
                            container: 'swal2-container-top-end'
                        }
                    });
                }
            });
        });
    });
    
    
</script>
<script>
    $(document).ready(function() {
        $('.cart-item').on('click', function(e) {
            e.preventDefault();
    
            var button = $(this);
            var productId = button.data('product-id');
            var variantId = button.data('variant-id');
            
            console.log('Adding to cart:', productId, variantId);

            if (!productId  !variantId) {
                console.error('Missing product or variant ID');
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Product or variant ID is missing.',


                    showConfirmButton: false,
                    timer: 1500,
                    toast: true,
                    customClass: {
                        container: 'swal2-container-top-end'
                    }
                });
                return;
            }
    
            if (button.text() === 'Go to Cart') {
                window.location.href = '{% url "cart:add_to_cart" %}';  // Replace with your actual cart URL
                return;
            }
    
            $.ajax({
                url: '{% url "userdash:add_to_wishlist" %}',
                type: 'POST',
                data: {
                    'product_id': productId,
                    'variant_id': variantId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log('Success response:', response);
                    if (response.success) {
                        button.text('Go to Cart');
                        button.removeClass('btn-outline-danger').addClass('btn-success');
    
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500,
                            toast: true,
                            customClass: {
                                container: 'swal2-container-top-end'
                            }
                        });
                    } else {
                        console.error('Error response:', response);
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500,
                            toast: true,
                            customClass: {
                                container: 'swal2-container-top-end'
                            }
                        });
                    }
                },
                error: function(xhr, errmsg, err) {
                    console.error('XHR:', xhr);
                    console.error('Error message:', errmsg);
                    console.error('Error:', err);
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'An error occurred: ' + errmsg,
                        showConfirmButton: false,
                        timer: 1500,
                        toast: true,
                        customClass: {
                            container: 'swal2-container-top-end'
                        }
                    });
                }
            });
        });
    });
</script>



{% endblock %}