{% extends 'user_side/base_user.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopping Cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <style>
        .btn-remove-item {
            background-color: #ff0000;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }
        .hidden-price {
            display: none;
        }
    </style>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- ZMDI Material Design Icons -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    
    <!-- FontAwesome (for extra icons) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    
    <!-- Bootstrap (optional) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body class="animsition">
    <!-- Header and navigation code here -->

    <!-- Breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="{% url 'accounts:home' %}" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>
            <span class="stext-109 cl4">
                Shopping Cart
            </span>
        </div>
    </div>

    <!-- Shopping Cart -->
    <form class="bg0 p-t-75 p-b-85" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <!-- Cart Items -->
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2">Name</th>
                                    <th class="column-3">Quantity</th>
                                    <th class="column-4">Total</th>
                                    <th class="column-5"></th>
                                </tr>

                                {% for cart_item in cart_items %}
                                <tr class="table_row">
                                    <td class="column-1">
                                        <div class="how-itemcart1">
                                            <img src="{{ cart_item.product.thumbnail.url }}" alt="IMG">
                                        </div>
                                    </td>
                                    <td class="column-2">{{ cart_item.product }}<br>Size: {{ cart_item.variant.size }}</td>
                                    <td class="column-3">
                                        <div class="wrap-num-product-custom flex-w m-l-auto m-r-0">
                                            <div class="btn-num-product-down-custom cl8 hov-btn3 trans-04 flex-c-m" data-item-id="{{ cart_item.id }}">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </div>
                                            <input class="mtext-104 cl3 txt-center num-product-custom" type="number" name="num-product1" value="{{ cart_item.quantity }}" data-item-id="{{ cart_item.id }}" min="1" max="5">
                                            <div class="btn-num-product-up-custom cl8 hov-btn3 trans-04 flex-c-m" data-item-id="{{ cart_item.id }}">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </div>
                                        </div>
                                    </td>                                    
                                    <td class="column-4" data-item-id="{{ cart_item.id }}">
                                        <span id="item_total">{{ cart_item.total_amount }}</span>
                                        <span class="hidden-price" data-unit-price="{{ cart_item.product.offer_price }}"></span>
                                    </td>
                                    <td class="column-5">
                                        <a href="{% url 'cart:remove_item_cart' cart_item.id %}" class="btn-remove-item" data-cart-item-id="{{ cart_item.id }}">
                                            Remove
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Cart Totals -->
                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Cart Totals
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Subtotal:
                                </span>
                            </div>
                            <div class="size-209">
                                <span class="mtext-110 cl2" id="cartSubtotal">
                                    {{ sub_total }}
                                </span>
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
                                <span class="mtext-101 cl2">
                                    Total:
                                </span>
                            </div>
                            <div class="size-209 p-t-1">
                                <span class="mtext-110 cl2" id="cartTotal">
                                    {{ sub_total }}
                                </span>
                            </div>
                        </div>

                        <a href="{% url 'cart:checkout' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            Proceed to Checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Include JavaScript -->

    <script>
        $(document).ready(function() {
            // CSRF token setup
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            const csrftoken = getCookie('csrftoken');

            $.ajaxSetup({
                headers: { 'X-CSRFToken': csrftoken }
            });

            // Handle increase quantity
            $('.btn-num-product-up-custom').on('click', function() {
                var inputField = $(this).siblings('input.num-product-custom');
                var newQuantity = parseInt(inputField.val()) + 1;
                var itemId = inputField.data('item-id');
        
                if (newQuantity <= inputField.attr('max')) {
                    inputField.val(newQuantity);
                    updateCartQuantity(itemId, newQuantity);
                }
            });
        
            // Handle decrease quantity
            $('.btn-num-product-down-custom').on('click', function() {
                var inputField = $(this).siblings('input.num-product-custom');
                var newQuantity = parseInt(inputField.val()) - 1;
                var itemId = inputField.data('item-id');
        
                if (newQuantity >= inputField.attr('min')) {
                    inputField.val(newQuantity);
                    updateCartQuantity(itemId, newQuantity);
                }
            });
        
            // Handle manual input change
            $('.num-product-custom').on('change', function() {
                var newQuantity = parseInt($(this).val());
                var itemId = $(this).data('item-id');
        
                updateCartQuantity(itemId, newQuantity);
            });
        
            // AJAX function to update cart quantity
            function updateCartQuantity(itemId, newQuantity) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'cart:update_cart_quantity' %}",  // Your view's URL
                    data: {
                        'item_id': itemId,
                        'quantity': newQuantity
                    },
                    success: function(response) {
                        if (response.success) {
                            // Update the item subtotal (if necessary)
                            $('input[data-item-id="' + itemId + '"]').closest('tr').find('.item-sub-total').text(response.item_sub_total);
        
                            // Update the cart subtotal and total
                            $('#cartSubtotal').text(response.sub_total);
                            $('#cartTotal').text(response.new_total);
                            $('#item_total').text(response.item_total);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error updating cart quantity:', error);
                    }
                });
            }
        });
    </script>

</body>
</html>
{% endblock %}
